@model ContosoCars.Models.ReviewApproveFormModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accept/Reject Car Review</h2>


@using (Html.BeginForm(nameof(ContosoCars.Controllers.CarReviewsController.AcceptReject)))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Review.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Review.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Review.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Review.Filename, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Review.Filename, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Review.KeyWords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Review.KeyWords)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AcceptOverride, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AcceptOverride)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AutoAccept, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AutoAccept)
                </div>
            </div>
        </div>

        @if (Model.AIModel != null)
        {
            <h4>AI Prediction</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Interesting Car:</th>
                        <th>Certainty:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.AIModel.Prediction</td>
                        <td>@Model.AIModel.ScoreString</td>
                    </tr>
                </tbody>
            </table>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
